<div class="row">
    <div class="col-md-12">
        <nav class="col-md-12 navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Index">HOME</a>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="navbar-text navbar-right"><a href="~/Views/Service/Logout" class="navbar-link">Logout</a></p>
                    <p class="navbar-text navbar-right"><span class="navbar-link">@User.Identity.Name</span></p>
                }
                else
                {
                    <p class="navbar-text navbar-right"><a href="~/Views/Service/Registration" class="navbar-link">Registration</a></p>
                    <p class="navbar-text navbar-right"><a href="~/Views/Service/Login" class="navbar-link">Login</a></p>
                }
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>
