@{
    Page.Title = "Users Keeper";
}

<div class="row">
    <div class="col-md-12">
        <ul>
            <li><a href="~/Views/Users/Index">Show users</a></li>
            <li><a href="~/Views/Awards/Index">Show awards</a></li>
            <li><a href="~/Views/Users/Create">Create user</a></li>
            <li><a href="~/Views/Awards/Create">Create award</a></li>
        </ul>
    </div>
</div>


